.TimelineItem {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px; 
}
.AllTrackingMessageShow .Message{
    margin-bottom: 40px;
}
.AllTrackingMessageShow .Message h3 {
    font-size: 14px;
    font-weight: 400;
    /* color: #ab9999; */
    color: #423a3a;
}
.AllTrackingMessageShow .Message h4 {
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.AllTrackingMessageShow .Line {
    position: relative;
    width: 2px;
    /* height: 148px; */
    background-color: #5e1da3;
    margin: 0 auto;
}
.AllTrackingMessageShow .Line .Overlay {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(255 255 255);
    border: 4px solid #5e1da3;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.AllTrackingMessageShow .Line:last-child .OverlayTow {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(109, 175, 34);
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);

    /* -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0); */
}

