tr th h3 {
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 0;
}



.View {
    border: 1px solid #22a197;
    padding: 4px 11px;
    border-radius: 12px;
    font-size: 14px;
    color: black;
}

.Print{
    background-color: #22a197;
    padding: 4px 11px;
    border-radius: 12px;
    font-size: 14px;
    color: white;

}
