
.AllMessageShow h3 {
    font-size: 14px;
    font-weight: 600;
    color: #22afa3;
}
.AllMessageShow .Line {
    position: relative;
    width: 4px;
    /* height: 148px; */
    background-color: rgb(34 175 163);
    margin: 0 auto;
}
.AllMessageShow .Line .Overlay {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(34 175 163);
    left: 50%;
    transform: translate(-50%, -50%);
}
.AllMessageShow .Line .OverlayTow {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(34 175 163);
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}