
.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 18px;
    border-radius: 8px;
    margin-top: 30px;
    background-color: white;
}
.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .One .UpdateUnverifiedData{

    background-color: #22afa3;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    margin-top: 3px;
}
.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .One .Verified {
    background-color: #22afa3;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    margin-top: 3px;
}
.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .One h3 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 3px;
}
.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .Tow h3 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 3px;
}
.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .Tow .NotAssigned {

    background-color: #22afa3;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    margin-top: 3px;
}
.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .Three h3{
    font-size: 16px;
    font-weight: 600;
    padding-top: 3px;
}

.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .Three .Pending{
    background-color: #22afa3;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    margin-top: 3px;
}

.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .Three .Unassigned{
    background-color: #22afa3;
    color: white;
    padding: 3px 11px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    margin-top: 3px;
}

.UserAmountUpdateUnverifiedData .AmountUpdateUnverifiedData .UpdateUnverifiedData .Three .Zero {
    background-color: #22afa3;
    color: white;
    padding: 3px 19px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    margin-top: 3px;
}

